@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");

:root {
  --primary-color: #ffd15b;
  --grey: #7A7A7A;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ededed;
  max-width: 1440px;
  margin: auto;
}

main {
  padding: 20px;
}

* {
  font: 14px "Manrope", sans-serif;
  font-weight: 400;
}

.counter {
  font: 21px "Anton", sans-serif;
}

#counterResults {
  font: 21px "Anton", sans-serif;
  font-weight: 700;

}

/* title font family  */
.hero__title {
  font-family: "Anton", sans-serif;
}

.hero__search-container {
  font-size: 18px;
}

.hero__title {
  font-size: 42px;
  text-transform: uppercase;
}

/*************************************** color */
* {
  color: #1b1b1b;
}

.hero__title {
  color: var(--primary-color);
  text-align: center;
}

/***************************** HERO HEADER *****************************/
.hero {
  background-image: url("../photos/lampos-aritonang-24gR_9lCdes-unsplash-1.webp");
  background-repeat: no-repeat;
  height: 690px;
}

.hero__logo {
  padding: 45px 69px 93px;
  width: -moz-fit-content;
  width: fit-content;
}

#ellipse {
  border-radius: 10px;
  margin-left: 12px;
}

.hero__title {
  margin: 5% 27% 20px;
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 7vw;
  }
}

.hero__search-container {
  background-color: #ffffff;
  border-radius: 11px;
  margin: 30px auto;
  width: 66%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#search-input {
  border: none;
  width: 100%;
  font-size: 18px;
}

.hero__search-container .close {
  align-self: center;
  margin-right: 17px;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
}

#submit {
  background-color: #1b1b1b;
  border-radius: 10px;
  cursor: pointer;
  height: 52px;
  position: relative;
  width: 51px;
  z-index: 1;
}

#submit::after {
  content: "";
  border-radius: 10px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 250ms;
  z-index: -1;
}

#submit:hover::after {
  opacity: 1;
}

#submit:hover circle,
#submit:hover line {
  stroke: #1b1b1b;
}

.hero__search-container .close {
  align-self: center;
  margin-right: 17px;
  width: -moz-fit-content;
  width: fit-content;
  /*display: none;*/
}

#submit {
  background-color: #1b1b1b;
  border-radius: 10px;
  cursor: pointer;
  height: 52px;
  position: relative;
  width: 51px;
  z-index: 1;
}

#submit::after {
  content: "";
  border-radius: 10px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 250ms;
  z-index: -1;
}

#submit:hover::after {
  opacity: 1;
}

#submit:hover circle,
#submit:hover line {
  stroke: #1b1b1b;
}

/***************************** filter button *****************************/
.flex {
  display: flex;
  justify-content: space-between;
  width: 95%;
  flex-wrap: wrap;
}

.accordion {
  background-color: white;
  color: black;
  font: manorope;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  width: 195px;
  height: 56px;
  padding: 17px, 16px, 17px, 16px;
  border-radius: 11px;
  position: relative;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
.active,
.accordion:hover {
  background-color: white;
}*/

.panel {
  padding: 0 18px;
  padding: 0;
  display: none;
  background-color: white;
  overflow: hidden;
  position: absolute;
  top: 56px;
  left: 5px;
  z-index: 1;
  width: 235px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.panel ul {
  list-style-type: none;
  padding: 0;
  max-height: 500px;
  overflow-y: scroll;
}

.ingredients,
.appareils,
.ustensiles {
  position: relative;
}



.ingredient-search {
  position: relative;
  margin-left: 20px;
  top: 25px;
  height: 36px;
  border-color: #C6C6C6;
}




.appareil-search {
  position: relative;
  margin-left: 20px;
  top: 25px;
  height: 36px;
  border-color: #C6C6C6;
}


.panel .empty {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 45px;
  top: 0px;
}


.panel .loupe {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 19px;
  top: 5px;
}

.ustensile-search {
  position: relative;
  margin-left: 20px;
  top: 25px;
  height: 36px;
  border-color: #C6C6C6;
}


/***************************** card container *****************************/
.container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    margin: auto;
  }

}



.card {
  background-color: white;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 21px;
  width: 380px;
}

.card img {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  height: 253px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.user-wrap {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    vertical-align: middle;
  }
}

.user-text {
  background-color: var(--primary-color);
  border-radius: 14px;
  padding: 5px 15px;
  position: absolute;
  right: 20px;
  top: 21px;
}

.card-content {
  padding: 20px;
}

.card-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-content li {
  width: 45%;
}

.card-content li span {
  font-size: 14px;
  color: var(--grey);
}

.card h2 {
  font: 18px "Anton", sans-serif;
  font-weight: 400;
}

.card h3 {
  font: 12px "Manrope", sans-serif;
  font-weight: 700;
  color: var(--grey);
}

.card p {
  font: 14px "Manrope", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.panel ul {
  list-style-type: none;
  padding: 0;
}

.tag {
  padding: 10px 20px;
}

.tag:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

#filters-ingredients,
#filters-appareils,
#filters-ustensiles {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-filter {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 17px;
  display: flex;
  justify-content: space-between;
}

.tag-filter button {
  background-color: transparent;
  border: none;
  color: #1b1b1b;
  font-weight: 500;
  padding: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transition: all 0.3s;
}

.tag-filter button:hover {
  cursor: pointer;
  background-color: black;
  color: var(--primary-color);
}

#empty {
  width: 40px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#empty:hover {
  background-color: #dadada;
}

.panel {
  display: block;
  height: 0;
  transition: height 0.3s ease-in-out;
}

.active .panel {
  display: block;
  height: 355px;
}

.vector {
  transition: transform 0.3s;
}

.active .vector {
  transform: rotate(180deg);
}

#panel-ingredients {
  height: 270px;
}